/*
Theme Name: WFC Genesis
Description: This is the WFC Genesis theme created for the Genesis Framework.
Author: AlphaSys
Author URI: https://alphasys.com.au/
Version: 1.0.0
Template: genesis
Text Domain: wfc-genesis
Tags: custom-colors, custom-logo, custom-menu, featured-images, footer-widgets, full-width-template, left-sidebar, right-sidebar
*/

/* Site Wide */

.site-container {
	margin: 0 auto;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
}

.btn {
	border: none;
}

.content-sidebar-wrap {
	display: block;
	padding-top: 1rem;
	width: 100%;
}

.content-sidebar-wrap .content,
.content-sidebar-wrap .sidebar-secondary,
.content-sidebar-wrap .sidebar-primary {
	display: block;
	width: 100%;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	margin-bottom: 1rem;
}

.sticky-wrapper {
	z-index: 999;
}

/* offcanvas menu */
.offcanvas-menu-open,
.search-popup-open { 
	overflow: hidden;
}

.site-offcanvas-close {
	cursor: pointer;
	position: absolute; 
	right: 1.4rem;
}

.site-offcanvas {
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	overflow: hidden auto;
    padding-top: 100px;
	padding-bottom: 50px;
	position: fixed;
}

.offcanvas-menu-open .site-offcanvas {
	visibility: visible;
	opacity: 1;
}

.site-offcanvas .toggle-container {
	position: absolute;
	top: 3.25rem;
}

.nav-toggle {
    z-index: 1001;
    cursor: pointer;
    margin: 0;
    display: inline-block;
}

.nav-toggle .line {
    background: #333;
    display: block;
    height: 2px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 30px;
    margin: 6px 0;
}

.nav-toggle .line:nth-of-type(1) {
    -webkit-transform: translateY(4px) rotate(45deg);
    -ms-transform: translateY(4px) rotate(45deg);
    transform: translateY(4px) rotate(45deg);
}

.nav-toggle .line:nth-of-type(2) {
    -webkit-transform: translateY(-4px) rotate(-45deg);
    -ms-transform: translateY(-4px) rotate(-45deg);
    transform: translateY(-4px) rotate(-45deg);
}

.site-offcanvas ul {
	margin: 0;
	padding: 0;
}

.site-offcanvas .menu > li:not(:last-child) {
    border-bottom: 1px solid #fcfcfc5e;
}

.site-offcanvas .menu > li {
    padding: 7px 0;
}

.site-offcanvas li {
	position: relative;
	list-style-type: none;
}

.site-offcanvas .sub-menu-pointer {
    display: block;
    width: 26px;
    height: 26px;
    line-height: 26px;
    font-size: 1.375rem;
    text-align: center;
    position: absolute;
    right: 4px;
    top: 6px;
    cursor: pointer;
}

.site-offcanvas .sub-menu-pointer,
.site-offcanvas li a {
	color: inherit;
}

.site-offcanvas li.expanded .sub-menu-pointer:before {
    content: "\f104";
}

.site-offcanvas .menu > li > a {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.site-offcanvas li a {
    font-size: 1rem;
    font-weight: normal;
}

/* Footer */

.footer-copyright {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.site-footer {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.footer-logo {
	width: 100%;
	display: flex;
	justify-content: center;
}

.footer-logo a {
	color: inherit;
	max-width: 10rem;
}

.footer-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer-menu ul li a {
	color: inherit;
}

.footer-social .addthis_toolbox > a {
	float: none;
}

.footer-logo,
.footer-menu,
.footer-social {
	margin-bottom: 1rem;
	text-align: center;
}

/*.site-footer .menu-item {
    display: inline-block;
}*/

.footer-menu ul {
    text-align:center;
}

.footer-menu ul li a {
    padding: 1rem;
}

.footer-social {
	width: 100%;
	display: flex;
	justify-content: center;
}

/*	Topbar Section */
.topbar {
	position: relative;
	box-shadow: 0 2px 10px rgba(0,0,0,.3);
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	z-index: 999;
}

.topbar a {
	color: inherit;
}

.topbar .row {
	justify-content: space-between;
}

.topbar .primary-nav {
	align-self: center;
}

/*.topbar .logo img {
	height: 60px;
}*/

.topbar .primary-nav .nav,
.topbar .cta-nav .nav {
	align-items: center;
}

.topbar nav .btn {
	padding: 0;
}

.topbar nav .btn a {
	display: inline-block;
	padding: .375rem .75rem;
}

/*.topbar .main-nav,*/
.topbar .menu-toggle, 
.topbar .menu-search-popup,
.topbar .cta-nav {
	display: inline-block;
}

/*.topbar .main-nav {
	display: none;
}*/

.topbar .primary-nav div:not(.cta-nav) .nav li,
.topbar .menu-toggle, 
.topbar .menu-search-popup {
	margin-left: .5rem;
}

/*.topbar .cta-nav li {
	margin-left: .5rem;
}*/

.topbar nav .cta-nav a:hover {
	text-decoration: none;
}

/* Search Pop-up */
.search-popup {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 99999;
	display: none;
}

.search-popup .container {
	height: 100%;
	position: relative;
}

.search-popup .btn:hover {
	color: #fff;
}

.search-popup-close {
	cursor: pointer;
	position: absolute;
	right: 1.4rem;
	top: 3.25rem;
}

.search-popup-wrap {
	display: flex;
	height: 100%;
	width: 100%;
	align-items: center;
	max-width: 18.75rem;
	margin: 0 auto;
}

.search-popup-wrap form {
	width: 100%;
}

.select-filter-wrap, .search-input-wrap {
	width: 100%;
	position: relative;
}

.search-popup-wrap input {
	padding: 0 0 .5rem 0;
	background-color: transparent;
	border-width: 0 0 0.0625rem 0;
}

.search-input-wrap > label {
	top: 0.315rem;
}

.search-input-wrap > label {
	position: absolute;
	right: 0;
	margin: 0;
}

.search-popup-wrap .btn {
	min-width: 7.5rem;
}

/* Hero */
.hero {
	position: relative;
	width: 100%;
}

.hero-overlay-front, .hero-img-back {
	display: inline-block;
	position: absolute;
	top: 0;
	height: 100%;
}

.hero-overlay-front {
	left: 0;
	background-position: right center;
	background-size: 100% 100%;
	z-index: 10;
}

.hero-img-back {
	right: 0;
	z-index: 5;
	background-size: cover;
}

.hero .row {
	z-index: 11;
}

.hero .hero-wrap {
	display: flex;
	height: 100%;
	align-items: center;
}

.hero-sm-overlay-front {
	background-size: cover;
}

.hero-sm-img-back {
	background-size: cover;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

/* Hero with CTA */
.hero .hero-info {
	margin: 5rem 0;
	padding: 2.5rem;
}

.hero-sm .hero-info {
	padding: 2.5rem;
}

/* Simple Hero */
.hero.simple .hero-bg {
	background-size: cover;
	background-repeat: no-repeat;
}

/* Pagination */
.pagination {
	justify-content: center;
}

.pagination ul {
	list-style: none;
	display: flex;
}

.pagination ul li {
	padding: 0.625rem;
}

/* Templates */

.tab-content { 
	padding: 1rem;
}

.wfc-horizontal-tab .nav-link {
	min-width: 9.375rem;
	padding: 1rem;
}

.wfc-children-list .card,
.wfc-dropdown-toggle #children-dropdown {
	margin-bottom: 1rem;
}

.wfc-accordion .card-body > *:last-child,
.wfc-children-list .card-body > *:last-child,
.wfc-vertical-tab .tab-pane > *:last-child,
.wfc-horizontal-tab .tab-pane > *:last-child,
.wfc-dropdown-toggle .tab-pane > *:last-child {
	margin-bottom: 0;
}

.wfc-vertical-tab .nav-link {
	width: 12.5rem;
	padding: 1.25rem;
	border-radius: 0;
}

.wfc-accordion .card .card-header,
.wfc-vertical-tab .nav-link {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.wfc-vertical-tab .nav-item.show .nav-link,
.wfc-vertical-tab .nav-link.active {
	border-color: #dee2e6 #d23333 #dee2e6 #dee2e6;
	border-width: 1px 4px 1px 1px;
}

/* Tags and Links Class */
.tags > a,
.tags > li > a,
a.tag {
	border-radius: 2rem;
}

.tags > a > i,
.tags > li > a > i,
a.tag > i,
.links > a > i,
.links > li > a > i,
a.link > i {
	padding-right: 0.5rem;
}

@media (min-width: 36rem) {
	
	/* Topbar */
	/*.topbar .logo img {
		height: 80px;
		width: auto;
	}*/

	.topbar .primary-nav div:not(.cta-nav) .nav li,
	.topbar .menu-toggle, 
	.topbar .menu-search-popup {
		margin-left: 1.5rem;
	} 
	
	/*.topbar .cta-nav li {
		margin-left: 1.5rem;
	}8/

}
		
@media (min-width: 48rem) {
	
	/* Hero with CTA */
	.hero .hero-info {
       max-width: 550px;
    }

	.content-sidebar-wrap .content {
		flex: 1;
	}

	.content-sidebar-wrap .sidebar-secondary,
	.content-sidebar-wrap .sidebar-primary {
		flex: 0 0 25%;
		width: 25%;
	}

	/* Footer */
	.footer-logo,
	.footer-menu,
	.footer-social {
		text-align: initial;
	}

	.footer-logo {
		justify-content: left;
	}

	.footer-social {
		justify-content: right;
	}

	/* Offcanvas & Search */
	.site-offcanvas {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.site-offcanvas .menu {
		display: flex;
		justify-content: space-around;
		height: 100%;
	}

	.site-offcanvas .menu > li {
		border: unset!important;
		-webkit-column-break-inside: avoid;
		page-break-inside: avoid;
		break-inside: avoid;
		padding: 0;
		margin-bottom: 10px;
		display: flex;
        flex-direction: column;
	}

	.site-offcanvas .menu > li > a {
		font-size: 1.125rem;
	}

	.site-offcanvas .toggle-container,
	.search-popup-close	{
		top: 6.25rem;
	}

	.site-offcanvas .sub-menu-pointer {
		display: none;
	}
}
@media ( min-width: 576px ) and ( max-width: 1240px ) {
	.site-offcanvas{
		bottom: 40vh;
	}
}

/*@media (min-width: 62rem) {
	
	.topbar .main-nav {
		display: inline-block;
	}

}*/