/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 20 ver

 /*ACM Search Bar Custom CSS*/
 .ascm-panels-postgallery-cont .ascm-panels-postgallerysearch-main-cont{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
		-ms-flex-pack: end;
			justify-content: flex-end;
	margin: 0 0 20px 0;
	width: 100%;
}
.ascm-panels-postgallery-cont .ascm-panels-postgallerysearch-main-cont .ascm-panels-postgallerysearch-sub-cont{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
}

.ascm-panels-postgallery-cont .ascm-panels-postgallerysearch-main-cont .ascm-panels-postgallerysearch-sub-cont #ascm-panels-postgallerysearch-fld{
	-webkit-border-radius: unset;
			border-radius: unset;
	border: none;
	background-color: #1E1E1F;
	color: #fff;
	padding: 10px 18px;
	width: 27.5%;
}
.ascm-panels-postgallery-cont .ascm-panels-postgallerysearch-main-cont .ascm-panels-postgallerysearch-sub-cont #ascm-panels-postgallerysearch-fld:focus{
	outline: none;
}

.ascm-panels-postgallery-cont .ascm-panels-postgallerysearch-main-cont .ascm-panels-postgallerysearch-sub-cont #ascm-panels-postgallerysearch-btn{
	font-size: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
		-ms-flex-align: center;
			align-items: center;
	background-color: #1E1E1F;
	border: none;
	color: #fff;
	padding: 10px 18px;
	-webkit-border-radius: unset;
			border-radius: unset;
	cursor: pointer;
}

.ascm-panels-postgallery-cont .ascm-panels-postgallerysearch-main-cont .ascm-panels-postgallerysearch-sub-cont #ascm-panels-postgallerysearch-btn:focus{
	outline: none; 
}

button#ascm-panels-postgallerysearch-btn:before {
	font-family: "Font Awesome 5 Pro";
	content: "\f002";
	font-weight: 900;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-size: 18px;
}

.ascm-panels-pg-pagination-main-cont {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
		-ms-flex-pack: center;
			justify-content: center;
	margin-top: 50px;
}

.ascm-panels-pg-pagination-pageinfo,
.ascm-panels-pg-pagination-btn-first-page,
.ascm-panels-pg-pagination-btn-last-page{
	display: none;
}
.ascm-panels-pg-pagination-btn-num-cont a{
	padding: 8px!important;
	color: #333;
}
.ascm-panels-pg-pagination-btn-num-cont {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.ascm-panels-pg-pagination-btn-num-cont span {
	border: none!important;
}
.ascm-panels-pg-pagination-btn-prev,
.ascm-panels-pg-pagination-btn-next,
.ascm-panels-pagination-btn-disabled{
	border: none;
}
.ascm-panels-pg-pagination-btn-prev a span,
.ascm-panels-pg-pagination-btn-next a span{
	color: #333;
}

.ascm-panels-pagination-btn-disabled, 
.ascm-panels-pagination-btn-disabled a{
	pointer-events: none;
	opacity: unset;
}
.ascm-panels-pg-pagination-btn-next.ascm-panels-pagination-btn-disabled  a,
.ascm-panels-pg-pagination-btn-prev.ascm-panels-pagination-btn-disabled  a {
	opacity: 0.7;
}

.ascm-panels-pg-pagination-btn-num-cont .ascm-panels-pagination-btn-disabled a{
	opacity: 1;
	font-weight: bolder;
	font-size: 1.2rem;
}

/*Scroll to Top  CSS*/
.back-to-top {
	position: fixed;
	bottom: 5px;
	padding: 5px 15px;
	right: 10px;
	color: #662D91!important;
	background-color: #e0dde2;
	opacity: 0;
	visibility: hidden;
}

.back-to-top.show {
  opacity: 1;
  visibility: visible;
  z-index: 300;
}


/*Donation Custom CSS*/

#pdwp-form-donate input[type=text],
#pdwp-form-donate input[type=number],
#pdwp-form-donate input[type=email],
#pdwp-form-donate textarea,
#pdwp-form-donate select,
#pdwp-form-donate .ElementsApp, 
#pdwp-form-donate .ElementsApp .InputElement {
	color: #3d465b!;
}

#pdwp-form-donate.pronto-donation-input .wfc-don-field-label,
#pdwp-form-donate.pronto-donation-input .wfc-don-checkbox-container,
#pdwp-form-donate.pronto-donation-input .wfc_donation-header-container-title,
#pdwp-form-donate.pronto-donation-input input[type="text"], 
#pdwp-form-donate.pronto-donation-input input[type="number"], 
#pdwp-form-donate.pronto-donation-input input[type="email"], 
#pdwp-form-donate.pronto-donation-input textarea, 
#pdwp-form-donate.pronto-donation-input select {
	color: inherit;
	font-size: 1rem;
}

#camp-freq-type.camp-frequency-active {
   background-color: #f57f47;
   color: #fff!important;
}

#camp-freq-type.camp-frequency-radio-container {
   margin: 0 4px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 50%;
}

.camp_donation-amount-level-container .donation-other-amount {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 12px;
}

   .pancare-donation-container {
	   background-color: #f57f4733;
   }
   
   .section-header-title,
   .wfc_donation-header-container-title .section-header-title {
	   font-weight: 600;
	   font-size: 1.25rem;
   }
   
   .section-header-title span {
	   font-weight: 400;
   }
   
   .donor_on_behalf_container .wfc-don-checkbox-checkmark {
	   border: 1px solid #6d6e70;
   }
   
   .donor_on_behalf_container .wfc-don-checkbox-container input:checked ~ .wfc-don-checkbox-checkmark {
	   background-color: #F57F47;
	   border-color: #F57F47;
   }
   
   .donor_on_behalf_container .wfc-don-checkbox-container .wfc-don-checkbox-checkmark::after {
	   left: 9px;
	   top: 4px;
	   width: 7px;
	   height: 12px;
   }

#pronto-donation-wplugin {
	/*background-color: #3d465b;*/
	-webkit-border-radius: 8px;
			border-radius: 8px;
}
#pronto-donation-wplugin .row{
	margin: 0;
	background-color: unset;
}

#pdwp-form-donate .wfc_donation-amount-main-container,
#pdwp-form-donate .wfc_donation-frequency-main-container,
#pdwp-form-donate .wfc_donation-payment-gateway-main-container{
	display:none;
}

/*Field hiddens*/
#pdwp-form-donate .wfc_donation-donor-details-container .donor_type_container{
	display:none;
}

#pdwp-form-donate .wfc_donation-payment-details-main-container,
#pdwp-form-donate .wfc_donation-donor-details-main-container {
	margin: 0;
}

#pdwp-form-donate .wfc_donation-donor-details-container,
#pdwp-form-donate .wfc_donation-payment-details-main-container,
#pdwp-form-donate .wfc_donation-header-container-title,
#pdwp-form-donate .wfc_donation-payment-details-container{
	border: none;
}

#pdwp-form-donate .wfc_donation-donor-details-main-container,
#pdwp-form-donate .wfc_donation-payment-details-main-container{
	-webkit-box-shadow: none;
			box-shadow: none;
}

#pdwp-form-donate .wfc_donation-submitbtn-container{
	margin: 40px;
	margin-top: 15px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
		-ms-flex-align: center;
			align-items: center;
}

#pdwp-form-donate .wfc_donation-submitbtn-container input#pdwp-btn{
	border: none;
	float: none;
	text-transform: uppercase;
	background-color: #F57F47!important;
	-webkit-border-radius: 2px;
			border-radius: 2px;
	min-width: 200px;
	padding: 10px 0!important;	
	font-weight: 600;
}

.pancare-donation-container {
	padding: 30px 20px 0;
	padding-bottom: 0;
}

.pancare-donation-container .last-row {
	padding: 0 0 18px 0;
	margin: 0 0 13px 0!important;
	border-bottom: 1px solid transparent;
}

#pdwp-form-donate input:focus{
	-webkit-border-radius: 0!important;
			border-radius: 0!important;
}
#pronto-donation-wplugin #wfc_donation-payment-details-toogle-container{
	padding: 0;
}

#pronto-donation-wplugin .donor_on_behalf_container > .wfc-don-field-label {
	display: none;
}

#pronto-donation-wplugin .wfc_donation-donor-details-main-container input,
#pronto-donation-wplugin .wfc_donation-payment-details-main-container .wfc_donation-payment-details-container input{
	margin-bottom: 10px;
	-webkit-border-radius: 2px!important;
			border-radius: 2px!important;
}
#pronto-donation-wplugin .wfc_donation-payment-details-main-container .wfc_donation-header-container-title{
	padding-bottom: 0;
}
#pronto-donation-wplugin .wfc_donation-payment-details-main-container .wfc_donation-header-container-title span{
	color: #F57F47;
}
#pronto-donation-wplugin .wfc_donation-payment-details-main-container .wfc_donation-payment-details-container{
	padding-top: 12px;
}

#stripe-card-details {
	padding-right: 0;
	padding-left: 0;
}

#card-number-wrapper {
	margin-bottom: 10px;
}

.wfc_donation-payment-details-container .pp-msg:not(.wfc-don-field-label) {
   color: #b2b7c3;
}

.wfc_donation-payment-details-container .pp-msg:not(.wfc-don-field-label) > span {
   color: #f57f47 !important;
}



/** Layout CSS 
-----------------------------*/
.sidebaralt-content .sidebar-primary {
	display: none!important;
}

/* Sidebar/Content/Sidebar */
.sidebaralt-content .sidebar-secondary {
	-webkit-box-ordinal-group: 2;
	-webkit-order: 1;
		-ms-flex-order: 1;
			order: 1;
}

.sidebaralt-content .content {
	-webkit-box-ordinal-group: 1;
	-webkit-order: 0;
		-ms-flex-order: 0;
			order: 0;
}

@media (min-width: 36rem) {
	.pancare-donation-container {
		padding: 30px 35px 0;
	}
}

@media (min-width: 48rem) {
	/* Sidebar/Sidebar/Content */
	.sidebar-sidebar-content .sidebar-secondary {
		-webkit-box-ordinal-group: 1;
		-webkit-order: 0;
			-ms-flex-order: 0;
				order: 0;
	}
	.sidebar-sidebar-content .sidebar-primary {
		-webkit-box-ordinal-group: 2;
		-webkit-order: 1;
			-ms-flex-order: 1;
				order: 1;
	}
	.sidebar-sidebar-content .content {
		-webkit-box-ordinal-group: 3;
		-webkit-order: 2;
			-ms-flex-order: 2;
				order: 2;
	}

	/* Sidebar/Content/Sidebar */
	.sidebar-content-sidebar .sidebar-secondary {
		-webkit-box-ordinal-group: 1;
		-webkit-order: 0;
			-ms-flex-order: 0;
				order: 0;
	}
	.sidebar-content-sidebar .content {
		-webkit-box-ordinal-group: 2;
		-webkit-order: 1;
			-ms-flex-order: 1;
				order: 1;
	}
	.sidebar-content-sidebar .sidebar-primary {
		-webkit-box-ordinal-group: 3;
		-webkit-order: 2;
			-ms-flex-order: 2;
				order: 2;
	}
	

	/* Sidebar/Content/Sidebar */
	.sidebaralt-content .sidebar-secondary {
		-webkit-box-ordinal-group: 1;
		-webkit-order: 0;
			-ms-flex-order: 0;
				order: 0;
	}
	.sidebaralt-content .content {
		-webkit-box-ordinal-group: 2;
		-webkit-order: 1;
			-ms-flex-order: 1;
				order: 1;
	}
}

@media (min-width: 62rem) {
   .pancare-donation-container {
	   padding: 30px 45px 0;
   }
}

/** Headers and Nav **/
header.site-header {
	position: fixed;
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
	z-index: 100;
	margin: 0 auto;
}

.ctrl-breadcrumbs p{
	margin: 0;
}

.media-button.singlular-post-action-button{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
		-ms-flex-pack: end;
			justify-content: flex-end;
	-webkit-box-align: baseline;
	-webkit-align-items: baseline;
		-ms-flex-align: baseline;
			align-items: baseline;
}


/**  Hero Sections
--------------------------------------- */
.hero.all-image,
.hero.blog-banner .img-box {
	background-size: cover;
	background-repeat: no-repeat;
}


.hero-column {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
		-ms-flex-pack: center;
			justify-content: center;
	position: relative;
}

.hero.all-image .hero-column {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
		-ms-flex-align: stretch;
			align-items: stretch;
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	-webkit-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
			flex-direction: column-reverse;
}

.hero.simple .hero-column {
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	-webkit-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
			flex-direction: column-reverse;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
		-ms-flex-pack: end;
			justify-content: flex-end;
}

.hero-column .banner-heading {
	text-transform: uppercase;
	text-align: center;
	margin: 0;
}

.hero-simple .hero .banner-heading {
   margin-top: 1rem;
   padding-bottom: 1rem;
}

.hero .hero-watermark {
   max-width: 165px;
   margin: 25px auto 0 auto;
}

/* .hero-column .hero-watermark {
	position: absolute;
	bottom: unset;
	right: unset;
	top: 65px;
	zoom: 35%!important;
} */

.hero .content-wrap {
	width: 100%;
	padding: 50px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
		-ms-flex-pack: center;
			justify-content: center;
}

.hero.all-image .content-wrap {
	padding: 20px 32px 0 32px;
}

.hero .above-heading-img {
	margin-bottom: 30px;
}

.hero .btn.arrow-down {
	margin-top: 40px;
	padding: 10px;
}

.hero .btn.hero-cta {
	border-width: 1px;
	border-style: solid;
	-webkit-border-radius: 2px;
			border-radius: 2px;
	text-transform: uppercase;
	padding: 10.5px 44px;
	margin: 15px 0 0 0;
	display: none;
}

/** Hero Blog Image */
.hero.blog-banner .content-box {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
		-ms-flex-pack: center;
			justify-content: center;
}

.hero.blog-banner .hero-title {
	text-align: center;
}


@media (min-width: 36rem) {

}

@media (min-width: 48rem) {
	.hero.all-image .content-wrap {
		-webkit-box-align: start;
		-webkit-align-items: flex-start;
			-ms-flex-align: start;
				align-items: flex-start;
				height: 100%;
	}

	.hero.all-image .hero-column {
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
			-ms-flex-pack: start;
				justify-content: flex-start;
				flex-direction: column;
	}

	.hero.simple .hero-column {
	   -webkit-box-pack: center;
	   -webkit-justify-content: center;
			-ms-flex-pack: center;
				 justify-content: center;
	}

	.hero.all-image .hero-column .banner-heading {
		text-align: left;
	}

	.hero-column .hero-watermark {
	   position: absolute;
	   bottom: 7px;
	   right: 7px;
	   max-width: 225px;
	   margin: 0;
	}

	.hero-column .hero-watermark,
	.hero .btn.hero-cta {
		display: block;
	}	

	/** Hero Blog Image */
	.hero.blog-banner .content-box {
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
			-ms-flex-pack: start;
				justify-content: flex-start;
	}

	.hero.blog-banner .hero-title {
		text-align: left;
	}
	
	.hero.blog-banner .content-wrap {
		-webkit-box-align: start;
		-webkit-align-items: flex-start;
			-ms-flex-align: start;
				align-items: flex-start;
	}
}

@media (min-width: 62rem) {
   .hero.all-image .content-wrap,
	.hero .content-wrap {
		padding: 64px;
		max-width: 474px;
	}
}

/** Pre footer Ad section CSS 
-----------------------------*/
.pre-footer-ad-section {
	background-color: #F5F5F5;
	padding: 42px 0;
}

.pre-footer-ad-section .title {
	text-transform: uppercase;
	margin-bottom: 12px;
	text-align: center;
}

.pre-footer-ad-section .g {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
			justify-content: space-between;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
			flex-wrap: wrap;
}

.pre-footer-ad-section .g .g-col {
	text-align: center;
}
/**  Prev & Next Post Slim
------------------------------*/
.before-after-slim .story-col:first-of-type{
	border-bottom-width: 0!important;
	border-right-width: 0!important;
}
@media (min-width: 992px) {
	.before-after-slim .story-col:first-of-type{
		border-bottom-width: 1px!important;
		border-right: 1px solid #dee2e6!important;
	}	
}

/**  Sidebar CSS
------------------------------*/
.sidebar.widget-area .adrotate_widgets {
	margin: 0 0 20px 0;
}

.sidebar.widget-area .adrotate_widgets img {
	width: 100%;
	height: auto;
	margin: 0 auto;
	display: block;
}

.sidebar.widget-area .widget-wrap {
	text-align: center;
}

.sidebar .sidebar-search-wrapper .search-form-input {
   -webkit-border-radius: unset;
   border-radius: unset;
   border: none;
   background-color: #1E1E1F;
   color: #fff;
   padding: 10px 18px;
   width: 100%;
   outline: none;
}

.sidebar .sidebar-search-wrapper .search-btn {
   font-size: 0;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   background-color: #1E1E1F;
   border: none;
   color: #fff;
   padding: 10px 18px;
   -webkit-border-radius: unset;
   border-radius: unset;
   cursor: pointer;
}




/**  Addthis customiztions
-------------------------------------*/
.at-above-post-page,
.at-below-post-page,	
.at-above-post.addthis_tool,
.at-below-post.addthis_tool {
	display: none;
}

.singlular-post-action-button .ctrl-grp {
	text-align: right;
	margin: 20px 0 40px 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-content: center;
		-ms-flex-line-pack: center;
			align-content: center;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
		-ms-flex-pack: end;
			justify-content: flex-end;
}

.singlular-post-action-button .fa-share-alt {
	min-height: 25px;
	min-width: 25px;
	padding: 10px;
}

.singlular-post-action-button .adthis-sc-wrap {
	position: relative;
}

.singlular-post-action-button .addthis_default_style, 
.singlular-post-action-button .addthis_counter.addthis_pill_style, 
.singlular-post-action-button .addthis_button_compact, 
.addthis_counter a.atc_s {
	display: -webkit-box!important;
	display: -webkit-flex!important;
	display: -ms-flexbox!important;
	display: flex!important;
	height: 100%!important;
	width: 100%!important;
	padding: 0!important;
	color: transparent!important;
	background: transparent!important;
}

.singlular-post-action-button .addthis_tool {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
}

.singlular-post-action-button .addthis_counter.addthis_pill_style.addthis_nonzero a.addthis_button_expanded {
	display: none!important;
}

#at_hover.atm-s a, 
.atm-s a {
	display: -webkit-box!important;
	display: -webkit-flex!important;
	display: -ms-flexbox!important;
	display: flex!important;
	-webkit-align-content: center;
		-ms-flex-line-pack: center;
			align-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
		-ms-flex-align: center;
			align-items: center;
}

#at15s .at-icon-wrapper {
	vertical-align: middle;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}


/** Submenu
 -------------------------------------*/
.submenu-section .submenu-col {
	min-height: 55px;
	padding: 0 30px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
		-ms-flex-pack: center;
			justify-content: center;
}

.submenu-section .menu {
	text-align: center;
	margin: 0;
	padding: 20px 0;
}

.submenu-section li.menu-item {
	display: inline-block;
	padding: 10px;
}

.submenu-section li > a {
	text-decoration: none;
	font-weight: 500;
	text-transform: uppercase;
}

.submenu-section ul.menu {
	display: none;
}

.submenu-section .sticky-submenu-mobile .btn {
	padding: 0;    
	text-decoration: none;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
		-ms-flex-align: center;
			align-items: center;
}

.submenu-section .sticky-submenu-mobile i {
	margin: 0 0 0 17px;
	font-size: 1.5rem;
}

.submenu-section .sticky-submenu-mobile {
	margin-left: auto;
	display: block;
}

.submenu-section.mobileActive ul.menu {
	position: absolute;
	-webkit-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	display: block;
	opacity: 1;
	background: #fff;
	top: 100%;
	z-index: 999;
	padding: 0 20px;
	-webkit-box-shadow: 0 0 2px 0px #00000061;
			box-shadow: 0 0 2px 0px #00000061;
}

/** Tile submenu */
.tile-submenu-section {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center top;
	margin: 0 0 85px 0;
}

.tile-submenu-section .tile-row {
	padding-top: 84px;
	padding-bottom: 84px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
			flex-wrap: wrap;
	margin: 0 auto;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
		-ms-flex-pack: center;
			justify-content: center;
}

.tile-submenu-section .tile-item {
	padding: 109px 30px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	height: 100%;
	margin: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
		-ms-flex-align: center;
			align-items: center;
}

.tile-submenu-section .tile-col {
	-webkit-border-radius: 2px;
			border-radius: 2px;
	background-color: #707070;
	margin: 0 5px 10px 5px;
	max-width: 500px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
		-ms-flex-pack: center;
			justify-content: center;
}

.tile-submenu-section .tile-col-2 .tile-col,
.tile-submenu-section .tile-col-4 .tile-col {
	width: -webkit-calc( 100% - 10px );
	width: calc( 100% - 10px );
}

@media (min-width: 36rem) {
}


@media (min-width: 48rem) {
	.tile-submenu-section .tile-col-2 .tile-col {
		width: -webkit-calc( 50% - 10px );
		width: calc( 50% - 10px );
	}

	.tile-submenu-section .tile-col-4 .tile-col {
		width: -webkit-calc( 50% - 10px );
		width: calc( 50% - 10px );
	}
}

@media (min-width: 62rem) {
	.tile-submenu-section .tile-col-4 .tile-col {
		width: -webkit-calc( 33.333% - 10px );
		width: calc( 33.333% - 10px );
	}

	.submenu-section .sticky-submenu-mobile {
		display: none;
	}
	
	.submenu-section ul.menu {
		display: block;
	}
	
	.submenu-section .submenu-col {
		min-height: 88px;
	}

	.submenu-section.mobileActive ul.menu {
		position: static;
		background: unset;
		padding: 20px 0;
		opacity: 1;
		display: block;
		-webkit-box-shadow: unset;
				box-shadow: unset;
		-webkit-transition: unset;
		-o-transition: unset;
		transition: unset;
	}
}

/** Front Page Intro section / Front Page Latest News */
.intro-section {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.intro-section .lg-card .category {
	margin-bottom: 7px;
}

.intro-section .title-wrap {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	padding-bottom: 13px;
	margin-bottom: 22px;
	width: 100%;
}

.dynamic-content-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.dynamic-content-left {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
		-ms-flex: 1 1 auto;
			flex: 1 1 auto;
}

.intro-section .card-left .dynamic-content-left {
	margin-right: 65px;
}

.intro-section .card-right .dynamic-content-right {
	margin-left: 65px;
}

.intro-section .dynamic-content-right img {
	width: 194px;
	height: auto;
	-webkit-border-radius: 20px;
			border-radius: 20px;
}

.intro-section .lg-card .title {
	/*max-width: 298px;*/
	padding: 0;
	margin: 0;
	line-height: 2.625rem;
}

.intro-section .lg-card .content {
	max-width: 100%;
	margin-bottom: 20px;
	line-height: 1.188rem;
}

.intro-section .lg-card .subtitle {
	margin-bottom: 10px;
	line-height: 1.813rem;
}

.intro-section .lg-card a.btn {
	padding: 10px 44px;
	-webkit-border-radius: 2px;
			border-radius: 2px;
	margin: auto auto 0 auto;
}

.intro-section .lg-cards-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
		-ms-flex-align: start;
			align-items: flex-start;
	-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
			flex-wrap: wrap;
	padding-bottom: 50px;
}

.intro-section .lg-card {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
		-ms-flex: 1 1 auto;
			flex: 1 1 auto;
	padding: 35px 30px;
	-webkit-border-radius: 2px;
			border-radius: 2px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
		-ms-flex-align: start;
			align-items: flex-start;
	z-index: 10;
	width: 100%;
	max-width: 90%;
}

.intro-section .lg-card.card-left {
	min-height: auto;
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
		-ms-flex: 1 1 auto;
			flex: 1 1 auto;
	position: relative;
	margin: -60px auto 20px auto;

	left: 0;
}

.intro-section .lg-card.card-right {
	position: relative;
	
	left: 0;
	margin: 0 auto;
} 

.intro-section .card-left .dynamic-content-left,
.intro-section .card-right .dynamic-content-right {
	display: none;
}

@media (min-width: 36rem) {

}

@media (min-width: 48rem) {
	.intro-section .lg-card {
		padding: 36px 54px 53px 58px;
	}

	.intro-section .card-left .dynamic-content-left,
	.intro-section .card-right .dynamic-content-right {
		display: block;
	}
}

@media (min-width: 75rem) {

	.intro-section .lg-card .content {
		max-width: 418px;
	}

	.intro-section .lg-cards-wrap {
		-webkit-flex-wrap: nowrap;
			-ms-flex-wrap: nowrap;
				flex-wrap: nowrap;
	}

	.intro-section .lg-card {
		width: 50%;
		max-width: 50%;
	}

	.intro-section .lg-card.card-left {
		left: 50px;
		margin: -60px 0 0 0;
	}

	.intro-section .lg-card.card-right {
		left: -50px;
		margin: 164px 0 0 0;
	}

	.intro-section .lg-card a.btn {
		margin: auto 0 0 0;
	}
}

/** Single Give
-------------------------------------------- */

.wfc_donation-amount-level-container-img {
	height: 100px;
	display: none;
}

.wfc_donation-amount-level-container-img > div {
	height: 100%;
	width: 100%;
	background-position-x: center;
	background-position-y: center;
	background-repeat: no-repeat;
	-ms-background-size: cover;
	background-size: cover;
}

.camp-donation-section p {
   font-weight: 700;
}

.camp-frequency-radio-container {
   padding: .5rem 1rem;
   -webkit-border-radius: 2px;
   border-radius: 2px;
   margin-right: 1rem;
   position: relative;
   background-color: #f6eeff;
   cursor: pointer;
   text-transform: uppercase;
   text-align: center;
}

.camp-frequency-radio-container:hover {
   background-color: #f57f47;
   color: #fff!important;
}
.camp-frequency-active:after {
   content: "";
   position: absolute;
   top: 100%;
   left: 0;
   right: 0;
   margin: auto;
   display: block;
   width: 0;
   height: 0;
   border: 0 solid transparent;
   border-top-color: #f57f47;
   border-width: 12px 12px 0;
}
#camp_donation-amount-level-container label:hover  {
   background-color: #f57f47!important;
   color: #fff!important;
}

#camp_donation-amount-level-container label i {
   color: #888;
}

#camp_donation-amount-level-container label:hover i,
#camp_donation-amount-level-container .bg2 i {
   color: #fff;
}

#camp_donation-amount-level-container label:hover span.cur-symbol {
   color: #fff!important;
}
#camp_donation-amount-level-container .text2{
   color: #f57f47!important;
}
#camp_donation-amount-level-container .bg2 span.cur-symbol{
   color: #ffffff!important;
}
.camp_donation-amount-level-container.card-deck {
	margin-right: -5px;
	margin-left: -5px;
}

.camp_donation-amount-level-container .card {
	-webkit-box-flex: 30%;
	-webkit-flex: 30%;
	-ms-flex: 30%;
	flex: 30%;
	margin-right: 5px;
	margin-left: 5px;
}

div#camp_donation-amount-level-container input,
.camp-frequency-radio-container input {
	display: none
}

/* .camp-payment-type-container input {
	display: none;
} */

div#camp_donation-amount-level-container label {
	text-align: center;
	font-weight: 700;
	padding: 1rem;
	height: 100%;
	width: 100%;
}

div#camp_donation-amount-level-container label i {
	font-size: .8rem;
	font-weight: initial;
	display: none !important;
	font-style: normal;
}

.camp-ask-video-container iframe {
	width: 100%;
	min-height: 300px;
}

.camp-border {
	box-shadow: 0 0 10px rgba(144, 142, 142, 0.6);
	-moz-box-shadow: 0 0 10px rgba(144, 142, 142, 0.6);
	-o-box-shadow: 0 0 10px rgba(144, 142, 142, 0.6);
	-webkit-box-shadow: 0 0 5px rgba(144, 142, 142, 0.6);
}

.single-campaign-header p {
	width: 100%;
	border-bottom: 1px solid #e2e2e2;
	margin: 1em 0;
}

.field-important {
	font-size: .8rem;
	color: #8F4B48 !important;
	vertical-align: top;
}

.camp-button {
	padding: .5rem 1rem;
	font-size: 1rem;
}

#camp-best-gift {
	width: 40% !important;
	padding: 0.8rem 10px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	box-shadow: inset 0 0 2px rgba(144, 142, 142, 0.6);
	-moz-box-shadow: inset 0 0 2px rgba(144, 142, 142, 0.6);
	-o-box-shadow: inset 0 0 2px rgba(144, 142, 142, 0.6);
	-webkit-box-shadow: inset 0 0 2px rgba(144, 142, 142, 0.6);
}

#camp-best-gift::-webkit-outer-spin-button,
#camp-best-gift::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	/*   margin: 0;  *//* <-- Apparently some margin are still there even though it's hidden */
}

#camp-best-gift{
	-moz-appearance:textfield; /* Firefox */
}

/* Radio checkmark */
.camp-frequency-radio-container .camp-frequency-radio-checkmark:after {
	width: 5px;
	height: 5px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: #ffffff;
	-webkit-transition: 200ms ease-out;
	-o-transition: 200ms ease-out;
	transition: 200ms ease-out;
}

.camp-frequency-radio-container input:checked ~ .camp-frequency-radio-checkmark:after {
	background-color: #ffffff;
}

.camp-frequency-radio-container input:checked ~ .camp-frequency-radio-checkmark:after {
	display: block;
}

.camp-frequency-radio-checkmark:after {
	content: "";
	position: absolute;
	display: none;
	-webkit-transition: 200ms ease-out;
	-o-transition: 200ms ease-out;
	transition: 200ms ease-out;
}

#camp_donation-amount-level-container.row {
	margin-right: -5px;
	margin-left: -5px;
}

#camp_donation-amount-level-container > div {
	padding: 4px;
	overflow: hidden;
}

.single-give .logo-container {
	padding: 70px 0 50px;
	text-align: center;
}

.single-give #su-campaign-donation-container {
	padding: 10px 0 50px 0;
}

.single-give .site-inner {
	margin-bottom: 6rem;
	min-height: auto;
}

.single-give .wfcg-header-banner-container {
	display: none;
}

.single-give .site-nav ul {
	display: none;
}
.single-give .site-topbar {
	visibility: hidden;
}
.single-give #breadcrumb {
	display: none;
}
.single-give header.site-header .menu-cta ul li {
	display: none;
}
.single-give .content {
	background: #eee;
	padding-bottom: 5rem;
}
.single-give .camp-border {
	background: #fff;
	-webkit-border-radius: 0.2rem;
			border-radius: 0.2rem;
}
.single-give .sunsw-footer-menu-part {
	visibility: hidden;
}
div#camp_donation-amount-level-container label i {
	font-size: 0.8rem;
	line-height: 0.95rem;
	max-width: 90%;
	margin-right: auto;
	margin-left: auto;
}
div#camp_donation-amount-level-container label {
	font-size: 1.5rem;
	padding: 0.75rem 0.5rem 1rem;
	line-height: 2rem;
	color: #fff;
	cursor: pointer;
	background: #ffffff!important;
}

.cur-symbol {
	font-size: 1rem;
	position: relative;
	bottom: 2px;
}

.single-give form p {
	margin-bottom: 0.5rem;
	margin-top: 1.5rem;
}

.single-give .other-amount-box label {
   display: flex;
   align-content: center;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   font-size: 1.35rem!important;
}

.single-give .other-amount-box label.bg2 .impact-statement,
.single-give .other-amount-box label:hover .impact-statement {
   color: #fff;
}

.single-give .other-amount-box .impact-statement {
   color: #988e89;
}

.single-give .camp-frequency-container {
   display: flex;
   align-content: center;
   justify-content: space-between;
   margin-left: -4px;
   margin-right: -4px;
   width: calc(100% + 8px)!important;
}
.single-give form > div > div > div {
   margin-bottom: 0!important;
}

.camp-frequency-radio-checkmark {
	position: absolute;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
		-ms-flex-align: center;
			align-items: center;
	top: .6rem;
	left: 1rem;
	height: 1.2rem;
	width: 1.2rem;
	-webkit-border-radius: 50%;
			border-radius: 50%;
	-webkit-transition: 200ms ease-out;
	-o-transition: 200ms ease-out;
	transition: 200ms ease-out;
	background: #009edb;
}

#su-campaign-donation-container .container > .row.ask-gift {
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	-webkit-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
			flex-direction: column-reverse;
}

.single-give .camp-seal img {
	width: 100%;
	height: auto;
}

.tribute-label {
   position: relative;
   padding-left: 30px;
   margin-bottom: 12px;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   line-height: 1;
   font-weight: 700;
}

.tribute-label input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
}

.tribute-label .checkmark {
   position: absolute;
   top: 0;
   left: 0;
   height: 1.2rem;
   width: 1.2rem;
   background-color: #fff;
}

.tribute-label input:checked ~ .checkmark {
   background-color: #f57f47;
}

.tribute-label .checkmark:after {
   content: "";
   position: absolute;
   display: none;
}

.tribute-label input:checked ~ .checkmark:after {
   display: block;
}

.tribute-label .checkmark:after {
   left: 6px;
   top: 2px;
   width: 7px;
   height: 12px;
   border: solid white;
   border-width: 0 3px 3px 0;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
}

.tribute-field-container input {
   padding: 0.8rem 1rem;
   padding-left: 5px;
   width: 100%;
   -webkit-border-radius: 2px;
   border-radius: 2px;
}

.tribute-field-container input:focus {
   background-color: none;
   border-color: none;
   box-shadow: none;
   border: none;
}

@media only screen and (max-width: 320px) {
	div#camp_donation-amount-level-container label,
	.camp-frequency-radio-container {
		font-size: .9rem;
	}
}

/* Media Queries */
@media only screen and (min-width: 576px ) {

	div#camp_donation-amount-level-container label i {
		display: block !important;
	}

	#su-campaign-donation-container .container > .row.ask-gift {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: reverse;
		-webkit-flex-direction: row-reverse;
			-ms-flex-direction: row-reverse;
				flex-direction: row-reverse;
	}
	
}

@media only screen and (min-width: 992px ) {
	.wfc_donation-amount-level-container-img {
		display: block;
	}

	#camp-best-gift {
		width: auto !important
	}
}

/* CSS For Custom Post Type Stories */
.story-row-parent {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
		-ms-flex-direction: column;
			flex-direction: column;
}
.story-col {
	margin-bottom: 20px;
}
.story,
.story:hover{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
		-ms-flex-direction: column;
			flex-direction: column;
	cursor: pointer;
	text-decoration: none;
	color: #333;
}
.col.card-img-top.story-bg {
	min-height: 205px;
	-webkit-border-radius: unset;
			border-radius: unset;
	max-width: unset;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}		
.story-content .card-body {
	padding: 25px;
	border: 1px solid #b7b0b0;
}
.story-content .card-body .card-text{
	margin: 0;
	margin-bottom: 15px;
	color: #1E1E1F;
	font-size: 20px;
}
button.btn.btn-light.btn-story {
	color: #289F74!important;
	background: #F6F6F6 0% 0% no-repeat padding-box;
	opacity: 1;
	text-transform: uppercase;
	margin: auto 0 0 0;
	padding: 10px 20px;
	color: rgba(40, 159, 116, 1);
}
button.btn.btn-light.btn-story:hover{
	color: #3C455C!important;
}
.btn-story-view-more{
	background-color: #289F74;
	text-transform: uppercase;
	margin: 40px 0;
	padding: 15px 35px 15px 35px;
	-webkit-border-radius: 2px;
			border-radius: 2px;
}
.btn-story-view-more:hover{
	background-color: #3C455C;
}

@media (min-width: 768px) { 
	.story-row.no-gutters {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
	.col.card-img-top.story-bg{
		max-width: 45%;
	}
	.story-card .card-body {
		min-height: 205px;
		padding: 30px;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
			-ms-flex-direction: column;
				flex-direction: column;
		-webkit-box-align: baseline;
		-webkit-align-items: baseline;
			-ms-flex-align: baseline;
				align-items: baseline;
	}
}
@media (min-width: 992px) {
	.story-row-parent{
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
			-ms-flex-direction: row;
				flex-direction: row;
	}
}

/*Hover Over Menu */
.custom-topbar .menu-item:hover ul.sub-menu,
.main-header-menu .menu-item:hover ul.sub-menu{
	position: absolute;
	z-index: 1000;
	display: block;
	min-width: 15rem;
	padding: 8px;
	margin: 15px 0;
	font-size: 1rem;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	-webkit-column-count: 2;
	   -moz-column-count: 2;
			column-count: 2;
}
.custom-topbar .menu-item:hover ul.sub-menu li,
.main-header-menu .menu-item:hover ul.sub-menu li{
	color: #333;
	border-bottom: 1px solid rgba(0,0,0,.15);
	-webkit-column-break-inside: avoid;
	   -moz-column-break-inside: avoid;
			break-inside: avoid-column;
	list-style-type: none;
	padding: 5px 10px!important;
	margin: 0!important;
}

.custom-topbar .menu-item:hover ul.sub-menu li a,
.main-header-menu .menu-item:hover ul.sub-menu li a{
	text-transform: initial;
	font-weight: lighter;
	padding: 0;
}

/*Top Bar Custom CSS*/

.custom-topbar{
	display: none;
}

@media (min-width: 992px) {
	.custom-topbar {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		/* position: fixed!important;
		left: 0;
		right: 0;
		top: 0;
		z-index: 1000!important;
		width: 100%; */
	}
	.custom-topbar a{
		padding: 0;
		
	}
	.custom-topbar a:hover{
		text-decoration: none;
	}
	.custom-topbar .wrapper .row .col-sm{
		min-height: 55px;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: end;
		-webkit-justify-content: flex-end;
			-ms-flex-pack: end;
				justify-content: flex-end;
	}
	.custom-topbar .main-nav{
		display: -webkit-box!important;
		display: -webkit-flex!important;
		display: -ms-flexbox!important;
		display: flex!important;
		margin: 0 20px;
	}
	.search-section .d-flex{
		min-width: 250px;
		color: #fff;
		margin: 0 10px;
		background-color: #1E1E1F;
		-webkit-border-radius: 2px;
				border-radius: 2px;
	}
	.search-section .d-flex input{
		min-width: 260px;
		background-color: #1E1E1F;
		border: none;
		padding: 5px 2px 5px 15px;
		-webkit-border-radius: 2px;
				border-radius: 2px;
		color: #fff;
		height: 32px;
	}
	.search-section .search-btn{
		padding: 0 15px!important;
		-webkit-border-radius: unset;
				border-radius: unset;
		border: none;
	}
	button.btn.btn-default.search-btn:focus {
		outline: none;
		-webkit-box-shadow: none;
				box-shadow: none;
	}
	.shop-btn{
		background-color: #662D91;
		padding: 5px 11px!important;
		-webkit-border-radius: 0;
				border-radius: 0;
		text-transform: uppercase;
		font-size: 12px;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
			-ms-flex-pack: center;
				justify-content: center;
		-webkit-box-align: center;
		-webkit-align-items: center;
			-ms-flex-align: center;
				align-items: center;
	}
	.shop-btn:focus{
		-webkit-box-shadow: none;
				box-shadow: none;
	}
	
	.search-section .d-flex input:focus{
		outline: none;
		-webkit-box-shadow: none;
				box-shadow: none;
	}
	
	.custom-topbar ::-webkit-input-placeholder {
	  color: #fff;
	  opacity: 1; /* Firefox */
	}
	
	.custom-topbar ::-moz-placeholder {
	  color: #fff;
	  opacity: 1; /* Firefox */
	}
	
	.custom-topbar :-ms-input-placeholder {
	  color: #fff;
	  opacity: 1; /* Firefox */
	}
	
	.custom-topbar ::-ms-input-placeholder {
	  color: #fff;
	  opacity: 1; /* Firefox */
	}
	
	.custom-topbar ::placeholder {
	  color: #fff;
	  opacity: 1; /* Firefox */
	}

	.custom-topbar :-ms-input-placeholder { /* Internet Explorer 10-11 */
	 color: #fff;
	}
	.custom-topbar ::-ms-input-placeholder { /* Microsoft Edge */
	 color: #fff;
	}
}

/* Header Main Nav CSS Custom*/

.submenu-sticky {
	position: fixed;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 990;
}

.site-container {
	padding-top: 130px;
}

.logged-in .site-container {
	padding-top: 99px;
}


/* .main-header-menu{
	-webkit-box-shadow: unset!important;
			box-shadow: unset!important;
	text-transform: uppercase;
	position: fixed!important;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	max-width: 100rem;
} */

.main-header-menu #menu-main-menu .menu-item a,
.main-header-menu .logo a{
	padding: 0!important;
	font-weight: 600;	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.main-header-menu .d-flex{
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
		-ms-flex-direction: column;
			flex-direction: column;
	min-height: 130px;
}

.main-header-menu .pancare-section{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin: 20px 0;
}
.main-header-menu .pancare-section .logo{
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
		-ms-flex-positive: 1;
			flex-grow: 1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
		-ms-flex-align: center;
			align-items: center;
}
.main-header-menu .pancare-section .toggle-content-first{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
		-ms-flex-align: center;
			align-items: center;
	margin: 0 20px;
}
.main-header-menu .toggle-content-second{
		display: none;
}
.main-header-menu .primary-nav {
	width: 100%;
	margin: 0 25px;
}
.main-header-menu .primary-nav .cta-nav{
	display: contents;
}
.main-header-menu .wrapper .row{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
		-ms-flex-align: center;
			align-items: center;
}

.main-header-menu .logo img{
	padding: unset!important;
	height: auto;
	width: 75%;
	margin-top: 0;
}

.main-header-menu .main-nav{
	margin-right: 15px;
	display: none;
}
.cta-nav #menu-cta-menu .get-involved{
	width: 50%;
}
.cta-nav #menu-cta-menu .get-involved a{
	background-color: #009EDB;
	color: #fff;
	padding: 10px 20px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
		-ms-flex-pack: center;
			justify-content: center;
	font-weight: 600;
}
.cta-nav #menu-cta-menu .donate{
	width: 50%;
}
.cta-nav #menu-cta-menu .donate a{
	background-color: #F57F47;
	color: #fff;
	padding: 10px 40px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
		-ms-flex-pack: center;
			justify-content: center;
	font-weight: 600;
}

.main-header-menu .cta-nav li{
	margin-left: 0;
}
.main-header-menu .main-nav .nav .menu-item a:hover{
	text-decoration: none;
}
.cta-nav #menu-cta-menu .get-involved a:hover{
	background-color: #3D3092;
}
.cta-nav #menu-cta-menu .donate a:hover{
	background-color: #FA4A02;
}

.main-nav ul#menu-main-menu.nav li {
	padding: 15px 0;
}
.custom-topbar .menu-item ul.sub-menu,
.main-header-menu .menu-item ul.sub-menu{
	display: none;
}

.site-inner .download-button-widget .label {
	font-size: 11px;
	line-height: 0.875rem;
}

@media (min-width: 768px) { 
	.site-inner .download-button-widget .label {
		font-size: 11px;
		line-height: 0.875rem;
	}
	
	.main-header-menu .logo img {
		width: 100%;
	}

	.site-container {
		padding-top: 130px;
	}

	body.logged-in .site-container {
		padding-top: 113px;
	}
	.main-header-menu .pancare-section .toggle-content-first{
		display: none;
	}
	.main-header-menu .toggle-content-second{
		display: contents;
	}
	.main-header-menu .main-nav{
		display: none;
	}
	.main-header-menu .d-flex{
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
			-ms-flex-direction: row;
				flex-direction: row;
	}
	.main-header-menu .primary-nav{
		width: unset;
	}
	.main-header-menu .primary-nav .cta-nav{
		display: inline-block;
	}
	.cta-nav #menu-cta-menu .get-involved {
		width: unset;
	}
	.cta-nav #menu-cta-menu .get-involved a{
		margin: 0 10px;
		-webkit-border-radius: 2px;
				border-radius: 2px;
		padding: 8px 20px;
	}
	.cta-nav #menu-cta-menu .donate{
		width: unset;
	}
	
	.cta-nav #menu-cta-menu .donate a{
		-webkit-border-radius: 2px;
				border-radius: 2px;
		padding: 8px 40px;
	}
	

}

@media (min-width: 992px){
	.site-inner .download-button-widget .label {
		font-size: 17px;
		line-height: 1.875rem;
	}
	
	
	.site-container {
		padding-top: 186px;
	}
	
	body.logged-in .site-container {
		padding-top: 168px;
	}

	/* .main-header-menu{
		margin-top: 55px;
	} */
}

@media (min-width: 1240px) {

	.site-container {
		padding-top: 155px;
	}

	body.logged-in .site-container {
		padding-top: 123px;
	}
	.main-header-menu .toggle-content-second {
		display: none;
	}
	.main-header-menu .main-nav {
		display: inline-block;
	}

	.main-header-menu .d-flex {
		min-height: 100px;
	}
	.main-header-menu .primary-nav {
		margin: 0;
	}

}

/*Side Bar Widgets*/
.download-button-widget,
.download-button-widget:hover {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	/* min-width: 280px; */
	opacity: 1;
	margin: 0 0 20px 0;
	-webkit-border-radius: 5px 5px 5px 5px;
			border-radius: 5px 5px 5px 5px;
	border-style: solid!important;
	border-width: 2px!important;
	text-decoration: none;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
		-ms-flex-align: stretch;
			align-items: stretch;
	text-align: center;
	word-break: break-word;
}
.download-button-widget .icon-container {
	width: 100%;
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
		-ms-flex: 1 1 auto;
			flex: 1 1 auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	max-width: 71px;
	min-height: 66px;
	outline-style: solid;
	outline-width: 1px;
}

.download-button-widget .label-container {
	width: 209px;
	letter-spacing: 0px;
	opacity: 1;
	margin: 0;
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	flex: 1 1 auto;
	padding: 5px 10px;
}

.download-button-widget .icon-box {
	width: 20px;
	height: 20px;
	background-position: center;
	background-repeat: no-repeat;
	margin: auto;
	background-size: cover;
}

.download-button-widget .label {
	text-transform: uppercase;
	margin: 0;
}

.sidebar.widget-area .widget_nav_menu li.menu-item {
	border-bottom: 1px solid #9da2ad;
	padding: 13px 0px 13px 13px;
	list-style-type: none;
	font-size: 18px;
	text-align: left;
}

.sidebar.widget-area .widget_nav_menu ul.menu {
	padding: unset;
}

.sidebar.widget-area .widget_nav_menu h4.widget-title {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	padding: 0 0 22px 13px;
	font-size: 20px;
	text-align: left;
}

.sidebar.widget-area .widget_nav_menu a.customize-unpreviewable {
	padding: 9px;
}

.sidebar.widget-area .widget_nav_menu li > a {
	color: #3c455c;
}

/*Footer Css Desktop*/
.site-footer .page-widget .wrap .widget_search {
	margin: 25px 0;
}
.site-footer  .column-4 .page-widget .wrap .widget_text {
	text-align: center;
}

.site-footer  .column-4 .page-widget .wrap .widget_text p{
		font-size: 14px;
}
.social-media{
	padding: 0;
}

.pancare-social-media-ul li{
	padding-bottom: 10px;
}

.pancare-social-media-ul .social-media li{
	border-top: 1px solid #9da2ad;
	list-style-type: none;
	padding: 10px 10px 10px 0;
}

.social-media li:last-of-type{
	border-bottom: 1px solid #9da2ad;
}

.social-media li a{
	padding-left: 30px;
	padding-left: 30px;
	color: #e8dddd;
}

.social-media .pancare-li{
	left: 4em;
}

.pancare-social-media-ul,
.pancare-ul{
	list-style: none;
	margin: 0;
}


.page-widget-last-row{
	margin: 25px 0;
}
.page-widget-last-row .widget-last-row-wrap {
	
	display: -webkit-box;
	
	display: -webkit-flex;
	
	display: -ms-flexbox;
	
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
		-ms-flex-align: center;
			align-items: center;
	padding: 0 25px;
	min-width: 120%;
		
}

.page-widget-last-row .widget-last-row-wrap .widget_media_image{
	min-width: 70px;
}

.page-widget-last-row .widget-last-row-wrap .widget-wrap .textwidget p{
	font-size: 12px;
	line-height: 1.5;
	margin: 0 18px;
}


.pancare-ul li{
	padding: 0 0 18px 0;
}
.pancare-li{
	left: 1em;
	position: absolute;
	line-height: inherit;

}
.site-footer .page-widget .wrap .widget .widget-wrap  .menu{
	list-style: none;
	text-transform: uppercase;
	padding: 0;
}
.site-footer .page-widget .wrap .widget .widget-wrap  .menu li.menu-item {
	border-top: 1px solid #9da2ad;
	list-style-type: none;
	padding: 10px 10px 10px 0;
}
.site-footer .page-widget .wrap .widget .widget-wrap  .menu li.menu-item:last-of-type{
	border-bottom: 1px solid #9da2ad;
}

.site-footer .page-widget .wrap .widget .widget-wrap  .menu li.menu-item  a{
	color: #e8dddd;
}

.site-footer .page-widget .wrap .widget  .widget-wrap .menu li.menu-item .sub-menu{
	padding: 10px 0 0 0;
}

.site-footer .page-widget .wrap .widget .widget-wrap .menu li.menu-item .sub-menu li.menu-item{
	padding: 0;
	border-top: none;
	text-transform: capitalize;
}
.site-footer .page-widget .wrap .widget .widget-wrap .menu li.menu-item .sub-menu li.menu-item:last-of-type{
	border-bottom: none;
}
.site-footer .page-widget .wrap .widget .widget-wrap .menu li.menu-item .sub-menu li.menu-item a{
	cursor: pointer;
	color: #e8dddd;
}

/*For Mobile Footer CSS*/

.pancre-footer{
		display: none;
}

.mobile-footer-section {
	margin: 35px;
}

.mobile-footer-section .mobile-footer-widget .widget_text{
	margin: 20px 0;
}

.mobile-footer-section .mobile-footer-widget .widget_text .textwidget{
	margin: 25px 0;
}
.mobile-footer-section  .mobile-footer-widget .widget_media_image .widget-wrap{
	margin: 25px 0;
}

.mobile-footer-section .mobile-footer-widget .widget_text .social-media-mobile a{
	color: #fff;
	margin: 0 7px;
}

.mobile-footer-widget{
	text-align: center;	
}
ul#menu-mobile-footer-menu {
	padding: 0;
	list-style-type: none;
}

ul#menu-mobile-footer-menu{
	padding: 0;
	text-transform: uppercase;
	list-style-type: none;
}

ul#menu-mobile-footer-menu li{
	padding: 20px;
	border-bottom: 1px solid #9da2ad;
}

.mobile-street .mobile-ul{
	list-style: none;
	padding: 0;
	text-align: left;
}

.mobile-street .mobile-ul li{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin: 20px 0;
	-webkit-box-align: center;
	-webkit-align-items: center;
		-ms-flex-align: center;
			align-items: center;
}

.mobile-street .mobile-ul li i{
	margin: 0 10px 0 0;
	display: inline-block;
	line-height: 1.5625rem;
}

ul#menu-mobile-footer-menu li a{
	color: #fff;
}

.mobile-footer-section .search-section  .search-widget-custom input{
	width: 100%!important;
	color: #fff;
	background-color: #495057;
	border: none;
}

@media (min-width: 560px){
	.mobile-street {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
			-ms-flex-pack: center;
				justify-content: center;
	}
	.mobile-street .mobile-ul{
		margin: 0;
	}
}
	
@media (min-width: 1200px) {
	
	.mobile-footer-section {
		display: none;
	}
	.pancre-footer{
		display: block;
	}
	.back-to-top {
		bottom: 25px;    
		padding: 5px 15px;
		right: 50px;    
	}
}

/*Custom Search */

.widget-search-section .input-group input{
	-webkit-border-radius: unset;
			border-radius: unset;
	border: none;
	background-color: #1E1E1F;
	color: #fff;
}
.widget-search-section .input-group .footer-search-btn,
.widget-search-section .input-group input:focus{
	-webkit-box-shadow: unset;
			box-shadow: unset;
}
.widget-search-section .input-group .btn-content{
	background-color: #333;
	border: none;
}
.widget-search-section .input-group .footer-search-btn{
	background-color: #1E1E1F;
	color: #fff;
}

/*Radio Button for the Payment Option*/
.donation-body label#label_1_11_0, label#label_1_11_1,label#label_1_11_2 {
	margin: 0px 0px 0px 8px;
}



/** Side Slide Callout Section */
/* header.site-header {
	position: relative;
} */

.site-container {
	overflow: hidden;
}

.callout-wrapper {
	position: absolute;
	top: 100%;
	right: 0;
	width: 60px;
	height: 200px;
	overflow: hidden;
	-webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
	-o-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callout-wrapper.open {
	width: 330px;
}

.callout-side-slide {
	position: absolute;
	right: -270px;
	z-index: 998;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	text-transform: uppercase;
	-webkit-transition: inherit;
	-o-transition: inherit;
	transition: inherit;
}

.callout-side-slide.open {
	right: 0;
}

.callout-side-slide .cs-visible {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 15px;
	-webkit-writing-mode: tb-rl;
		-ms-writing-mode: tb-rl;
			writing-mode: tb-rl;
	-webkit-transform: rotate(-180deg);
		-ms-transform: rotate(-180deg);
			transform: rotate(-180deg);
	width: 60px;
	cursor: pointer;
}

.callout-side-slide .cs-visible span.icon {
	border: 1px solid #fff;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
		-ms-flex-pack: center;
			justify-content: center;
	width: 30px;
	height: 30px;
	-webkit-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
			transform: rotate(-90deg);
}

.callout-side-slide .cs-visible span.label {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin: 0px 0 12px 0;
	-webkit-box-align: center;
	-webkit-align-items: center;
		-ms-flex-align: center;
			align-items: center;
}

.callout-side-slide .cs-hidden {
	width: 270px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
		-ms-flex-pack: center;
			justify-content: center;
	padding: 25px;
}

.callout-side-slide .btn {
	-webkit-border-radius: 0;
			border-radius: 0;
	padding: 10px 45px;
}


.callout-side-slide.slide-mobile {
	z-index: 1000;
	position: fixed;
	top: 87px;
}

.callout-side-slide.slide-mobile .cs-visible {
	padding: 7px;
	width: 45px;
}

.callout-side-slide.slide-mobile p {
	margin: 0;
}

.callout-side-slide.slide-mobile .cs-hidden {
	padding: 0;
	-webkit-box-align: center;
	-webkit-align-items: center;
		-ms-flex-align: center;
			align-items: center;
}

.callout-side-slide.slide-mobile .cs-visible span.icon {
	height: 29px;
}

.callout-side-slide.slide-mobile.open {
	width: 100%;
	right: 0;
}

.main-header-menu .inner > .row > div {
	padding: 0;
}

.main-header-menu .pancare-section {
	padding: 0 15px;
}

.main-header-menu .cta-nav {
	max-width: -webkit-calc( 100% - 45px );
	max-width: calc( 100% - 45px );
	margin-right: auto;
}

@media (min-width: 768px) {
	.main-header-menu .cta-nav {
		max-width: unset;
		margin-right: unset;
	}
}

/* Gravity Donation Form */

/*Added By Ronilo Jr.*/
/*Donation Body*/
form#gform_1 {
	background-color: #3c455c;
	color:#ffffff;
	-webkit-border-radius: 10px;
			border-radius: 10px;
}
.donation-body h3.gform_title {
	color: #ffff;
	}

.donation-body .gform_body {	
	padding: 0 31px 0 40px;
}

@media (min-width: 576px){
	/* Gravity Donation Form */

	/*Donation Body*/
	form#gform_1 {
		background-color: #3c455c;
		color:#ffffff;
		-webkit-border-radius: 10px;
				border-radius: 10px;
	}
	/*Title*/
	.donation-body .gform_title{
		text-align: center;
		padding: 26px 0 0 0;
	}

	.donation-body h3.gform_title {
	color: #ffff;
	}
	
	body .gform_wrapper ul li.gfield {
		margin: 0;
		padding-top: 0;
	}
	.donation-body .gform_body {	
		padding: 0 31px 0 40px;
	}
	.donation-body ul#gform_fields_1{
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
			-ms-flex-direction: row;
				flex-direction: row;
		-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
				flex-wrap: wrap;
	}
	.donation-body p{
		font-size: 20px;
		color: #f57f47;
		margin: 20px 0 20px 0;
	}
	.donation-body label.gfield_label {
		color: #f57f47;
		font-size: 15px;
		font-weight: 500;
	}
	.donation-body li#field_1_1, li#field_1_2, li#field_1_3,li#field_1_4,li#field_1_5,li#field_1_6,li#field_1_7,li#field_1_8,li#field_1_9,li#field_1_10,li#field_1_11{
		width: 100%;
	}
	input#choice_1_16_0,input#choice_1_16_1,input#choice_1_16_2 {
		margin: 0 6px 0 0px;
	}

	.donation-body input#choice_1_4_0,input#choice_1_4_1,input#choice_1_4_2, input#choice_1_12_0, input#choice_1_11_0,input#choice_1_11_1,input#choice_1_11_2{
		margin: 0 6px 0 0px;
		-webkit-transform: scale(1.1, 1.1);
	}
	.gform_wrapper ul.gfield_radio li {
		overflow: inherit;
	}
	.donation-body input#choice_1_7_0 {
		margin: 0 6px 0 px;
		-webkit-transform: scale(1.1, 1.1);
	}
	.donation-body input#choice_1_10_0, input#choice_1_10_1,input#choice_1_10_2 ,input#choice_1_10_3  {
		margin: 0 7px 0 0px;
		-webkit-transform: scale(1.1, 1.1);
	}
	li#field_1_7{
		margin: -7px 0 0 0;
	}
	.donation-body li#field_1_14 {
		-webkit-box-flex: 1;
		-webkit-flex: 1 1 auto;
			-ms-flex: 1 1 auto;
				flex: 1 1 auto;
	}
	body .gform_wrapper .top_label div.ginput_container {
		margin: 0;
	}
	.donation-body form#gform_1 {
		background-color: #3c455c;
		color:#ffffff;
		-webkit-border-radius: 10px;
				border-radius: 10px;
	}
	.donation-body li#field_1_4 {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
			-ms-flex-align: center;
				align-items: center;
		height: 100px;
		margin: 0px 0 -42px 0;
	}
	.donation-body li#field_1_6 {
		margin: -30px 0 0 0;
		height: 51px;
	}
	.donation-body label.gfield_label {
		margin: 0 25px 0 0;
		font-weight: 500;
	}
	.donation-body .ginput_container.ginput_container_radio{
		-webkit-box-flex: 1;
		-webkit-flex: 1 1 auto;
			-ms-flex: 1 1 auto;
				flex: 1 1 auto;
		margin: 0;
	}
	.donation-body ul#input_1_4 {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		width: auto;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
			-ms-flex-pack: justify;
				justify-content: space-between;
		margin: 0;
		font-size: large;
	}
	.donation-body li.gchoice_1_4_0,li.gchoice_1_4_1,li.gchoice_1_4_2{
		-webkit-box-flex: 1;
		-webkit-flex: 1 1 auto;
			-ms-flex: 1 1 auto;
				flex: 1 1 auto;
		text-align: right;
	}
	.donation-body li#field_1_1 {
		height: 50px;
	}

	/*Contact Phone Number*/
	.donation-body li#field_1_2 {
		height: 60px;
	}
	.donation-body ul#input_1_10 {
		-webkit-box-flex: 1;
		-webkit-flex: 1 1 auto;
			-ms-flex: 1 1 auto;
				flex: 1 1 auto;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		width: auto;
		font-size: large;
		margin: 0px 160px 0 0px;
	}
	/*Other Amount*/
	.donation-body li#field_1_12 {
		margin: -25px 0 0 0;
	}
	/*Select Amount*/
	.donation-body li.gchoice_1_10_0, li.gchoice_1_10_1, li.gchoice_1_10_2 ,li.gchoice_1_10_3 {
		-webkit-box-flex: 1;
		-webkit-flex: 1 1 auto;
			-ms-flex: 1 1 auto;
				flex: 1 1 auto;
	}
	.donation-body ul#input_1_11 {
		-webkit-box-flex: 1;
		-webkit-flex: 1 1 auto;
			-ms-flex: 1 1 auto;
				flex: 1 1 auto;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		width: auto;
		font-size: large;
	}
	/*Input forms*/
	.donation-body input#input_1_2,input#input_1_1_3,input#input_1_3, input#input_1_1_6,input#input_1_6, input#input_1_5_3,input#input_1_5_6,input#input_1_14   {
		padding: 11px 0 9px 18px;
	}
	.donation-body select#input_1_9{
		padding: 11px 0 9px 18px;
		color: #757575;
	}
	.donation-body li.gchoice_1_11_0, li.gchoice_1_11_1 {
		margin: 0px 45px 0 0px;
	}
	.donation-body li.gchoice_1_11_1 {
		margin: 0px 45px 0 0px;
	}
	.donation-body .gform_footer.top_label {
		text-align: center;
	}
	.donation-body li#field_1_11 {
		padding: 0px 0 0 0px;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		width: auto;
		margin: -10px 0px 0px 0px;
	}
	.donation-body label.gfield_label {
		margin: 10px 0 0 0;
		font-weight: 500;
	}
	/*Button Continue*/
	.donation-body  input#gform_submit_button_1 {
		color: #ffffff;
		background: #fa4a02;
		border: none;
		padding: 8px 50px 7px 49px;
		margin: 20px 0 0 0;
	}
	/*Footer margin*/
	.donation-body  .gform_footer.top_label {
		padding: 0 0 39px 0;
	}
	/*Radio Button for the Payment Option*/
	.donation-body label#label_1_11_0, label#label_1_11_1,label#label_1_11_2 {
		margin: 0px 0px 0px 8px;
	}
	.donation-body li#field_1_18 {
		-webkit-box-flex: 1;
		-webkit-flex: 1 1 auto;
			-ms-flex: 1 1 auto;
				flex: 1 1 auto;
		margin: 0;
		width: auto;
		margin: -25px 0 0 0;
	}
	.donation-body ul#input_1_16 {
		-webkit-box-flex: 1;
		-webkit-flex: 1 1 auto;
			-ms-flex: 1 1 auto;
				flex: 1 1 auto;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		font-size: large;
		margin: 0px 160px 0 0px;
		width: 100%;
	}
	.donation-body li#field_1_16 {
		width: 100%;
		margin: 25px 0 0 0;
	}
	.donation-body label#label_1_16_0, label#label_1_16_1 {
	margin: 0 55px 0 0px;
	}
	.donation-body li#field_1_10 {
	margin: 25px 0 0 0;
	}

	.donation-body li#field_1_19 {
	height: 100px;
	margin: 0px 0 -42px 0;
	}
	.donation-body label.gfield_label {
	display: inline-block;
	line-height: 1.3;
	clear: both;
	}

	.donation-body ul#input_1_19 {
	width: auto;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
			justify-content: space-between;
	margin: 0;
	font-size: large;
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display: flex;
	}
	.donation-body input#choice_1_19_0 {
	margin: 0 6px 0 0px;
	}
	.donation-body label#label_1_19_0 {
	margin: 0 6px 0 0;
	}

	.donation-body .ginput_container.ginput_container_select {
	height: 0px;
	}

	.donation-body li#field_1_4 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
		-ms-flex-align: center;
			align-items: center;
	height: 100px;
	margin: 23px 0 -67px 0;
	}

	.donation-body li#field_1_9 {
		height: 13px;
	}
	.donation-body label#label_1_19_0 {
	margin: 0 45px 0 10px;
	}
	.donation-body input#choice_1_19_1 {
	margin: 3px 14px 0 0px;
	}
	.donation-body .ginput_container.ginput_container_text {
	padding: 0 0px 0 30px;
	}
		
	.donation-body .gform_wrapper ul.gfield_checkbox li label, .gform_wrapper ul.gfield_radio li label {
	display: -moz-inline-stack;
	display: inline-block;
	letter-spacing: inherit;
	vertical-align: middle;
	cursor: pointer;
	font-size: small;
	font-weight: 100;
	}
	.donation-body div#input_1_1 {
	margin: -1px 0 0 0;
	}
	.donation-body label.gfield_label, .gform_wrapper, div.gform_wrapper label.gfield_label, div.gform_wrapper legend.gfield_label {
	font-weight: 500;
	font-size: inherit;
	}
}
@media (max-width: 767.98px) {
	.ascm-panels-postgallery-cont .ascm-panels-postgallerysearch-main-cont .ascm-panels-postgallerysearch-sub-cont #ascm-panels-postgallerysearch-btn{
		width: 15%;
	}
	.ascm-panels-postgallery-cont .ascm-panels-postgallerysearch-main-cont .ascm-panels-postgallerysearch-sub-cont #ascm-panels-postgallerysearch-fld{
		margin: 0;
		width: 100%;
	}
}

.main-header-menu .menu-main-menu li.menu-item-active a,
a.parent-active {
	color: #3e3092!important;
}

.pancare-search-result {
	margin-bottom: 28px; 
}

@media (max-width: 767.98px) {

	.pre-footer-ad-section .g{
		-webkit-box-pack: justify;
			-webkit-justify-content: center;
		-ms-flex-pack: justify;
		justify-content: center;
	}
	.pre-footer-ad-section .ad-col .g-col{
		width: unset!important;
	}
	.pre-footer-ad-section .ad-col .g-col.b-3:not(:nth-last-child(-n + 2)) {
	   display: none;
   }
	.page-widget-last-row .widget-last-row-wrap {
		min-width: unset!important;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
			-ms-flex-direction: column;
				flex-direction: column;
	}
	.page-widget-last-row .widget-last-row-wrap section .textwidget {
		text-align: center;
		margin: 25px 0 0 0;
	}

}

/*Safari (10.1+)*/
@media not all and (min-resolution:.001dpcm) {
	@media {
		.main-header-menu .main-nav {
			margin-right: 0;
		}
	}
}

.at-below-post-homepage.addthis_tool{
	display: none;

}
.at-above-post-homepage.addthis_tool{
	display: none;
}

#children-accordion button.btn {
	white-space: normal;
	text-align: left;
}

#children-accordion img {
	height: auto;
	max-width: 100%;
}

aside.sidebar.sidebar-secondary.widget-area {
	display: none;
}

@media only screen and (min-width: 48rem) {
	aside.sidebar.sidebar-secondary.widget-area {
		display: block;
	}
}

@media only screen and (max-width: 1047px) {
   .custom-topbar .search-section {
	   display: none;
   }
}

@media ( min-width: 77.5rem ) and ( max-width: 84.375rem ) {
	
	.topbar .primary-nav div.main-nav .nav li.menu-item {
		margin-left: 1.2rem;
	}

	.topbar .primary-nav div.main-nav a {
		font-size: 0.85rem;
	}
}

/*Custom Paypal Button for Donation*/
.camp-payment-type-container .paypal-button {
   color: transparent;
   background-image: url(https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_100x26.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   width: 100px;
   margin: 0 15px;
   display: inline-block;    
   transition: filter 0.5s ease;
}
.wfc_donation-submitbtn-container .pronto-donation-btn {
   cursor: pointer;
}


@media (max-width: 768px) {
   section.container-fluid.outer.tile-submenu-section {
	   padding-left: 0;
	   padding-right: 0;
   }
   .tile-submenu-section .tile-col-2 .tile-col{
	   width: 100%;
	   margin-left: 0;
	   margin-right: 0;
	   margin-bottom: 5px;
	   border-radius: 0px;
	   opacity: 1;
	   max-width: unset;
   }

   .tile-submenu-section .tile-item {
	   padding: 59px 69px;
   }

   body.home .tile-submenu-section .tile-row {
	   padding-top: 0px;
   }

   .tile-submenu-section {
	   margin: 0 0 20px 0;
   }

   .intro-section .lg-card {
	   max-width: 100%;
   }

   .intro-section .lg-cards-wrap {
	   padding-bottom: 20px;
   }

   .intro-section .lg-card.card-left {
	   margin: -10px auto 15px auto;
   }
   
   .cta-nav #menu-cta-menu .get-involved a{
	   padding: 10px 0 10px 0px; 
   }
}

.camp-payment-type-container .paypal-btn-wrapper {
   display: inline-block;
   background-color: #fff;
   border: 1px solid #dbdbdb;
   position: relative;
}
.camp-payment-type-container .paypal-btn-overlay {
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: #00000036;
   display: none;
}

@media only screen and (min-width: 36rem){
   .site-offcanvas .menu {
	   display: block!important;
	   -webkit-column-count: 3;
	   -moz-column-count: 3;
	   column-count: 3;
   }
   .site-offcanvas .menu > li {
	   margin-bottom: 20px!important;
   }
}

@media only screen and (max-width: 575.98px) {
   .submenu-section.mobileActive ul.menu {
	   width: 100%;
   }
   .submenu-section.mobileActive ul.menu .menu-item{
	   display: block;
	   padding: 5px;
   }
}

@media (min-width: 576px) and (max-width: 1240px){
   .site-offcanvas {
	   bottom: 63vh!important;
   }
   .site-offcanvas .toggle-container{
	   top: 4.25rem!important;
   }
}

@media (min-width: 576px) {
   .site-offcanvas {
	   bottom: 30vh !important;
   }
   .site-offcanvas .container:nth-child(2) {
	   overflow: unset !important;
   }
   #menu-offcanvas-menu .menu-item {
	   display: block;
   }
   #menu-offcanvas-menu .menu-item > a {
	   font-size: 1rem;
	   text-align: center;
   }
   #menu-offcanvas-menu .sub-menu .menu-item {
	   display: none;
   }
   .camp_donation-amount-level-container .donation-other-amount {
		 padding: 35px!important;
   }
}